# Node & Frontend
node_modules/
dist/
dist-ssr/
build/
coverage/
*.tsbuildinfo

# System & Editor
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

# Environment Variables
.env
.env.local
.env.*.local
!.env.example
